backend/node_modules
backend/public/hot
backend/public/storage
backend/storage/*.key
backend/vendor
backend/vendor/laravel/framework/src/Illuminate/Foundation/*
!backend/vendor/laravel/framework/src/Illuminate/Foundation/helpers.php
backend/.env
backend/.env.backup
backend/.phpunit.result.cache
backend/docker-compose.override.yml
backend/Homestead.json
backend/Homestead.yaml
backend/npm-debug.log
backend/yarn-error.log
/.idea
/.vscode
backend/public/uploads
